:root {
    --color-principal-oscuro: #0e0e3e;
    --color-principal-oscuro-transparencia: #0e0e3eeb;
    --color-principal: #18185E;
    --color-secundario: #3D81FE;
    --color-suave: #8CA7FF;
    --color-contraste: #E5EBF7; 
    --color-vivos: #FF8793;
}

/* color principal de paleta #18185E */

/* TEMA 2
   --color-principal: #325D7F;
    --color-secundario: #6E5A7D;
    --color-suave: #C36A82;
    --color-contraste: #F37181;
    --color-vivos: #F9B296; 

TEMA 3
    --color-principal: #5A1846;
    --color-secundario: #910D3F;
    --color-suave: #C70039;
    --color-contraste: #FF5733;
    --color-vivos: #FFC301;
    */



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.navbar {
    position: absolute;
    width: 100%;
}

.navbar__menu-icon {
    margin: 8px;
    color: var(--color-principal-oscuro-transparencia);
    opacity: 0.8;
    filter: drop-shadow(1px 1px 1px var(--color-contraste));
}

.navbar__menu-close {
    position: absolute;
    top: 0;
    z-index: 2;
    margin: 12px;
    color: var(--color-contraste);
    filter: drop-shadow(1px 1px 1px var(--color-principal-oscuro-transparencia));
}

.main-nav {
    position: absolute;
    top: 0;
    opacity: 1;
    z-index: 1;
    background-color: var(--color-principal-oscuro-transparencia);
    width: max-content;
    list-style: none;
    padding-left: 55px;
    transition: max-width 0.3s, opacity 0.5s;
}

.main-nav__item {
    padding: 12px;
    padding-right: 20px;
    box-shadow: 0px 1px 0px 0px var(--color-contraste);
    font-style: italic;
}

.main-nav .main-nav__item:first-child {
    padding-top: 35px;
}


.main-nav .main-nav__item:last-child {
    padding-bottom: 35px;
    box-shadow: none;
}

.main-nav__item a {
    text-decoration: none;
    color: var(--color-contraste);
    font-size: 20px;
    margin-left: 15px;
}

.portada {
    height: 100vh;
    height: 100svh;
    background-color: var(--color-contraste)
}

.portada__img-contenedor {
    height: 75vh;
    height: 75svh;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.portada__img-cobertor {
    position: absolute;
    width: max-content;
    height: max-content;
    max-height: 75vh;
    max-height: 75svh;
    background-color: #254056;
    opacity: 0.4;
    margin: 25vh 25vw;
    margin: 25svh 25vw;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.portada__img-cobertor-logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.portada__img-cobertor-logo-img {
    width: 70vw;
    max-width: 310px;
}

.portada__img-cobertor-logo-firma {
    position: relative;
    top: -34px;
    text-align: center;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 22px;
    letter-spacing: 1.5px;
}

/* .cobertor {
    position: absolute;
    z-index: 2;
    height: 75vh;
    width: 100vw;
    top: 0;
    background-color: black;
    opacity: 0.4;
} */

.portada__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.portada__pie {
    display: flex;
    align-items: center;
    height: 25%;

}

.portada__pie h1 {
    color: var(--color-principal);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
    text-align: center;
    width: 100%;
}

.who {
    /* min-height: 75vh; */
    background-color: #ffffff;
    color: var(--color-principal);
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */

}

.who__encabezado {
    position: relative;
    width: 100%;
}


.who__encabezado-title {
    font-size: 28px;
    margin-top: 50px;
    margin-left: 10vw;
    margin-bottom: 4px;

}

.who__encabezado-line {
    display: block;
    position: relative;
    left: 0;
    height: 3px;
    width: 60vw;
    background-color: var(--color-vivos);
}

.who__contenido {
    /* white-space: pre-wrap; */
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.who__contenido-parrafo {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;

}

.who__contenido-firma {
    display: flex;
    justify-content: right;
}

.who__contenido-firma-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-color: var(--color-vivos);
    border-width: 1px;
    border-style: solid;
}

.who__contenido-firma-avatar-img {
    width: 100%;
}

.who__contenido-firma-descripcion {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    gap: 2px;
    font-size: 12px;
    font-style: italic;
}

.services {
    color: var(--color-principal);
}

/* --------------------------------------------- */

.services__guarda {
    position: relative;
    display: block;
    /* width: 100%; */
    margin-top: 10px;
    margin-bottom: 60px;
}

.services__guarda_izquierda,
.services__guarda_derecha {
    position: absolute;
    display: block;
    height: 20px;
    width: 70%;
}

.services__guarda_izquierda {
    left: 0;
    top: -23px;
    background: linear-gradient(135deg, var(--color-principal) 90%, white 90%);
}

.services__guarda_derecha {
    right: 0;
    bottom: -23px;
    background: linear-gradient(135deg, white 10%, var(--color-principal) 10%);
}

.services__guarda_texto {
    display: inline-block;
    width: 100%;
    background: linear-gradient(90deg, white, var(--color-vivos) 15%, var(--color-vivos) 85%, white);
    height: 36px;
    align-content: center;
}

.services__guarda_texto p {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
}

/* ------------------------------------------- */
.services_carrousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 35px;
}

.services_carrousel-tarjeta {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    margin-bottom: 35px;
    max-width: 270px;
}

.services_carrousel-tarjeta-contenedor-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-width: 1px;
    border-color: var(--color-vivos);
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}


.services_carrousel-tarjeta-icon {
    width: 70%;
}

.services_carrousel-tarjeta-descripcion {
    text-align: center;
}

.services_carrousel-tarjeta-descripcion-title {
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 5px;
}

.services_carrousel-tarjeta-descripcion-text {
    font-style: italic;
    font-size: 14px;
}

/* ---------------------------------------------------- */

.services__types {
    position: relative;
    text-align: center;
    top: -20px;
    margin: auto;
    width: 90vw;
    padding: 4px;
    /* border-color: #cecccc;
    border-style: solid;
    border-width: 0.5px; */
    /* box-shadow: 2px 2px 2px 2px #f5efef; */

}

.services__types-title {
    text-align: center;
    margin-bottom: 35px;
    font-weight: 900;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.services__types-title-flecha {
    display: inline-block;
    transition: transform 300ms;
}

.services__type-title {
    position: sticky;
    top: 0;
    background-color: var(--color-principal-oscuro);
    color: white;
    height: 25px;
    align-content: center;
    margin-bottom: 12px;
    box-shadow: 0px 5px 0px white;
    letter-spacing: 3px;
}

.services__types-close {
    text-align: right;
    width: 100%;
    padding: 15px;
    display: block;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    background-color: #f5efef;
    -webkit-tap-highlight-color: transparent;
}

.services__type-unorderlist {
    list-style: none;
    font-size: 14px;

}

.services__type-unorderlist li {
    line-height: 1.25;
    margin: 7px 0px;
}



.services ul li:last-child {
    margin-bottom: 24px;
}

.contact {
    min-height: 75vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#ffffff40, #ffffff40), url(https://iili.io/FRtbp7n.md.jpg);
    background-size: cover;
    background-position: center;

}


.contact h1 {
    margin: 30px 10px;
    font-size: 28px;
    text-align: center;
    color: var(--color-principal-oscuro);

}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    margin: 10px;
    width: 60vw;

    background-color: white;
    border-width: 0px;
    border-color: var(--color-principal-oscuro);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px var(--color-principal-oscuro);
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-form input {
    height: 30px;

}

.contact-form textarea {
    min-height: 30vh;
    margin-bottom: 30px;
    font-size: 16px;
}


.button-enviar {
    width: 80px;
    height: 35px;
    margin-bottom: 30px;
    border-width: 1px;
    border-radius: 10px;
    color: beige;
    background-color: var(--color-principal-oscuro);
}

.logo-whatsapp {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    transition: transform 0.2s;
}

.logo-whatsapp:hover {
    transform: scale(1.3, 1.3) rotate(15deg);
    transition: transform 0.5s;
}


.logo-whatsapp img {
    position: absolute;
    width: 100%;
    filter: drop-shadow(1px 1px 2px #234974);
    background: radial-gradient(white 50%, transparent 50%);
}

.footer {
    background-color: var(--color-principal-oscuro);
    color: var(--color-contraste);
    min-height: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}
.footer-ul-organismos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-titles {
    font-weight: 800;
    font-size: 12px;
    margin: 8px 0;
    text-align: center;
}

.footer-li {
    font-size: 12px;
    list-style: none;
    margin: 0 10px;
}

.footer-li.redes,
.conct-link {
    display: flex;
    align-items: center;
}


.footer-organismos {
    width: 100px;
}

.footer-logo-redes {
    width: 20px;
    margin: 4px 4px;
}

.footer-li.redes-link, 
.footer-li.redes-link:visited, 
.footer-li.redes-link:focus, 
.conct-link, 
.conct-link:visited, 
.conct-link:focus{
    text-decoration: none;
    color: var(--color-contraste);
-webkit-tap-highlight-color: transparent;
}
.icono-contacto-footer{
    width: 16px;
    margin: 6px 4px;
}
.footer_contacto{
    display: flex;
    align-items: center;
}

.inactive-main {
    overflow: hidden;
    max-height: 0px;
    max-width: 0px;
    opacity: 0;
}
.inactive-services{
    display: none;
}



@media (min-width: 640px) {

    .navbar__menu-icon {
        display: none;
    }

    .portada__img-cobertor-logo-img {
        width: 200px;
        height: 200px;
    }

    .portada__img-cobertor {
        width: 60vw;
    }

    .main-nav.inactive-main {
        max-width: 3000px;
        max-height: 1000px;
        opacity: 1;
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: right;
        top: 75vh;
        background-color: var(--color-principal-oscuro);

    }

    .main-nav .main-nav__item:first-child,
    .main-nav__item,
    .main-nav .main-nav__item:last-child {
        padding: 10px;
        box-shadow: none;
        cursor: pointer;
    }

    .main-nav__item:hover {
        text-shadow: 1px 1px 0px #ffffff;
    }

    .portada__pie {
        padding-top: 45px;
    }


    .services__types {
        width: 70vw;

    }

}

@media (min-width: 970px) {
    body {
        position: relative;
        width: 970px;
        margin: 0 auto;
        background-color: white;
    }


    html {
        background-color: #010125;
    }
}